<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome to Golden Bubbles!</title>
    <style>
      .gold {
        color: #a17729;
        font-weight: bold;
      }
    </style>
  </head>
  <body>

    <p>Hello <span class='gold'>{{firstName}}</span>,</p>

    <p>Your account has been <b>successfully created</b>.</p>

    <p>Your documents are currently under review. We’ll notify you once they are
      <b class='gold'>verified</b>.</p>

    <p style='padding-top:20px; font-size:15px'><b class='gold'>Best regards,<br
        />Team Golden Bubbles
      </b></p>

    <p style='font-size:12px; text-align:center; color:#888;padding-top:20px'>
      &copy; 2025 Golden Bubbles. All rights reserved.
    </p>
  </body>
</html>